
header{
    background-image: url("../images/mike-petrucci-c9FQyqIECds-unsplash.jpg")
    }
button{
    width: 7rem;
}

button.myButton{
    background-color: rgb(235, 192, 99);
    color: black;
    border-color: transparent;
    border-radius: 1rem
}
a.btn.myButton{
    background-color:rgb(235, 192, 99);
    color: black;
    border-color: transparent;
    border-radius: 1rem
}
a.nav-link{
    color: black;
}
a.nav-link:hover{
text-decoration: underline;
color: black;
font-weight: 300; 
}

h3{
    background-color:  rgb(235, 192, 99);
    padding: 0.5rem;
}
a.btn.btnCheckOut1{
    background-color:  rgb(235, 192, 99);
    color: black;
    border-color: transparent;
    border-radius: 1rem;
  
} 
button.btnCheckOut{
    background-color:  rgb(235, 192, 99);
   color: rgb(45, 43, 43);
    border-color: transparent;
    border-radius: 1rem;
    
}

@import "../node_modules/bootstrap/scss/bootstrap";